.header {
  background-color: #F6F6F6;
  height: 80px;
  display: flex;
  align-items: center;
}

.navbar {
  width: 82%;
  margin: 0 auto;
  position: relative;
}

.container-fluid {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navbar__logo {
  width: 100px;
  margin: 0;
}

.navbar__ul {
  list-style: none;
  display: flex;
  justify-content: center;
  gap: 10px;
  margin: 0;
  padding: 0;
  width: 100%;
  background-color: white;
}

.navbar__li {
  color: rgb(15, 15, 15);
  font-weight: normal;
  font-size: 18px;
  cursor: pointer;
  text-align: center;
}

.navbar-toggler {
  border: none;
  background: none;
  font-size: 24px;
  cursor: pointer;
  display: none;
  padding: 0px;
}

.navbar__left {
  flex: 1;
  display: flex;
  align-items: center;
}

.navbar__right {
  display: flex;
  align-items: center;
}

.btn-close {
  z-index: 200;
  position: relative;
}

.btn-close:focus{
  outline: none;
  box-shadow: none;
}

.navbar-toggler:focus{
  outline: none;
  box-shadow: none;
}

/* Footer */

footer {
  width: 80%;
  margin: 0 auto;
  margin-top: 50px;
}

.footer-a {
  text-decoration: none;
  width: 65px;
  background-color: black;
  border-radius: 999px;
}


.footer-grid{
  width: 100%;
  height: 50px;
  display: flex;
  justify-content: space-between;
  justify-content: center;
  align-items: center;
}

.footer-grid p {
  width: 100%;
  font-size: 20px;
}

.footer-grid .fa-arrow-up{
  width: 35px;
  text-align: center;
  cursor: pointer;
  padding: 10px;
  background-color: var(--clr-background);
  color: var(--clr-text-primary);
  border-radius: 999px;
}

.footer-grid .footer-smedia{
  display: flex;
  align-items: center;
  justify-content:end;
  gap: 15px;
  font-size: 20px;
  width: 100%;
}

.icon{
  padding: 5px;
  transition: all 300ms;
  cursor: pointer;
  color: black;
}

.icon:hover{
  transition: all 300ms;
  transform: scale(1.2);
}

.not-found-text{
  color: rgb(253, 57, 57);
  text-align: center;
  margin-top: 40px;
  font-size: 30px;
}

/* Loading */

.loading{
  width: 100%;
  display: flex;
  justify-content: center;
  margin-top: 100px;
}

/* Queries */

@media only screen and (max-width: 1200px){

  footer {
    width: 90%;
    margin: 0 auto;
    margin-top: 50px;
  }
}


@media (max-width: 768px) {

  .navbar__right {
    justify-content: flex-end;
    flex: 1;
  }

  .navbar-toggler {
    display: block;
  }

  .navbar.active .navbar__ul,
  .navbar__ul.active {
    transform: translateY(0%);
  }

  .navbar {
    width: 100%;
  }
  
  .navbar__ul {
    list-style: none;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 30px;
    margin: 0;
    padding: 0;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background-color: white;
    z-index: 1;
    transform: translateY(-120%);
    transition: all 400ms;
  }

  .navbar__li {
    font-size: 20px;
    font-weight: bold;
  }
}